body {
    width: 100%;
    height:100%;
    margin:0;
    background-color: hsl(234, 50%, 96%);
}

main {
    background-color: hsl(234, 50%, 96%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100%;
    margin:0;
}

.desktop-img {
    display:none;
}

header h1 {
    top:40px;
    left:35px;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    text-transform: uppercase;
}

.title-wrap {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:40px;
    left:35px;
}

#moon {
    width: 20px;
}

.input-wrapper {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper i {
    position:absolute;
    top:134px;
    left:45px;
    z-index: 1;
    color:rgb(200, 200, 200);
}

input {
    position: absolute;
    top:120px;
    padding:15px 0 15px 35px;
    width: 75%;
    border-radius: 5px;
    border:none;
}

.list-wrapper {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:184px;
}

#list-container {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:rgb(87, 87, 87);
}

.active {
    display:block;
}

.remove {
    display:none;
}

.counter-wrap {
    width: 85%;
    display:flex;
    justify-content: center;
    align-items: center;
    display:flex;
    background-color: white;
    padding: "8px";
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.counter {
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.filter-wrapper {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: white;
    width: 85%;
    padding: "8px";
    border-radius: 5px;
    margin-top: 30px;
}

.filter {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.filter p {
    margin:20px;
    font-family: 'Josefin Sans', sans-serif;

}


/*-----------classlist styles-----------*/

.new-div-style {
    background-color: white;
    padding:15px 10px;
    width: 80%;
    border-bottom: hsl(0, 3%, 87%) solid 1px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.icon {
    width: 20px;
    height:20px;
}

.circle-icon-wrapper {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.cross-icon {
    width: 10px;
    height: 10px;
}

.activeCircle {
    display:block;
    text-decoration: line-through;
}

/*-------footer--------*/


footer {
    margin-top: 500px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


.attribution {
    color:rgb(191, 225, 255);
    font-size: 12px;
}

.attribution a {
    text-decoration: none;
    color:gray;
}

/*------------------------MEDIA QUERIES-----------------*/

@media only screen and (min-width: 768px) {


input {
    width: 50%;
    padding: 20px 0 20px 35px;
    font-size: 20px;
}

.input-wrapper i {
    left: 190px;
    top:144px;
}

.new-div-style {
    background-color: white;
    padding:17px 12px;
    width: 51%;
    border-bottom: hsl(0, 3%, 87%) solid 1px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrap {
    position: absolute;
    top: 40px;
    left:auto;
    width: 55%;
}

.icon {
    width: 20px;
    height:20px;
}

.circle-icon-wrapper {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.cross-icon {
    width: 10px;
    height: 10px;
}

.activeCircle {
    display:block;
    text-decoration: line-through;
}

.counter-wrap {
    width: 54.5%;
}

.filter-wrapper {
    width: 54.5%;
}

.list-wrapper {
    top: 200px;
}

#list-container {
    font-size: 16px;
}
    
}



@media only screen and (min-width: 1200px) {

.mobile-img {
    display:none;
}
    
header {
    background: url("../img/desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:28.75em;
}


input {
    width: 25%;
    position:absolute;
    top:280px;
}

.title-wrap {
    width: 25%;
    position: relative;
    top:0;
    left: 0;
}

.counter-wrap {
    width: 27%;
}

.new-div-style {
    width: 25.5%;
}

.filter-wrapper {
    width: 27%;
}

.list-wrapper {
    top:385px;
}

}